.App {
  text-align: center;
  
  
}



/*Cart*/

.home-button{
  display: inline-block;
  position: relative;
  padding: 3rem 3.5rem ;
  top: 10;
  margin-left: 44%;
  
  font-size: 30px;
  font-family: "Open Sans", Helvetica;
  text-decoration: none;
  border-radius: 4px;
  border-bottom: 1px solid rgba( 28, 227, 125, 0.5 );
  background: rgba( 22, 230, 137, 1 );
  color: #fff;
  box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.1 );
  
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
          transform: translateZ(0);
  
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

.delete-button{
  display: inline-block;
  position: relative;
  padding: 3rem 3.5rem ;
  
  
  font-size: 30px;
  font-family: "Open Sans", Helvetica;
  text-decoration: none;
  border-radius: 0.5rem;
  border-bottom: 1px solid rgba( 28, 227, 125, 0.5 );
  background: rgba( 22, 230, 137, 1 );
  color: #fff;
  box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.1 );
  
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
          transform: translateZ(0);
  
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

.products-cart{
  background-color: whitesmoke;
  width: 30%;
  height: 10%;
  display: flex;
  justify-content: center;
}

.products-cart-container{
  display: flex;
  justify-content: center;
}


.products-container{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  
  
}

.totalCost{
 display: flex;
 justify-content: flex-end;
 width: 2rem;
 height: 2rem;
}

.totalCost-elements{
  display: flex;
  justify-content: space-around;
}

p{
  margin: 10px;
  width: 50px;
}




.shopping-header{

  height: auto;
  text-align: center;
  display: flex;
  justify-content: space-around;

}


.productsGrid{
  align-items: center;
  display: grid;
  margin-left: 20px;
  margin-top: 200px;
}

.productsGrid:hover{
  top: -10px;
  box-shadow: 0px 10px 10px rgba( 15, 165, 60, 0.2 );
  background-color: rgb(218, 216, 216);
  -webkit-transform: rotateX(20deg);
     -moz-transform: rotateX(20deg);
      -ms-transform: rotateX(20deg);
          transform: rotateX(20deg);
}



/* Custom */
.addButton {
  display: inline-block;
  position: relative;
  padding: 30px 38px ;
  top: 10;
  font-size: 30px;
  font-family: "Open Sans", Helvetica;
  border-radius: 4px;
  border-bottom: 1px solid rgba( 28, 227, 125, 0.5 );
  background: rgba( 22, 230, 137, 1 );
  color: #fff;
  box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.1 );
  
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
          transform: translateZ(0);
  
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

.addButton:hover {
  top: -10px;
  box-shadow: 0px 10px 10px rgba( 15, 165, 60, 0.2 );
  
  -webkit-transform: rotateX(20deg);
     -moz-transform: rotateX(20deg);
      -ms-transform: rotateX(20deg);
          transform: rotateX(20deg);
}

button:active {
  top: 0px;
  box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.0 );
  background: rgba( 20, 224, 133, 1 );
}